* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
}
body {
    font-family: Open Sans;
}
a,button {
    cursor: pointer;
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --org: #fd6e0a;
    --ban: #fff8f3;
}
.text-center{
    text-align: center;
}
a {
    text-decoration: none;
}
.logo {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.textR {
    color: var(--org);
}
nav {
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
}
#menuList li,
.btn-hireMe {
    display: inline;
    margin-left:  50px;  
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}
.btn-hireMe a {
    color: white;
}
.btn-hireMe {
    color: white;
    margin-left: -2px;
}
#menuList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-hireMe {
    background-color: var(--org);
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    background: #fd6e0a;
}
.header {
    background-color: var(--ban);
    height: 100vh;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    
    /*  */
    border: 1px solid;
}
.banner {
    height: 100vh;
    padding-bottom: 100px;
    
}
.header-child{
    background-image: url("images/developer.png");
    background-position: top left;
    background-repeat: no-repeat;
}