* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
}
body {
    font-family: Open Sans;
}
a,button {
    cursor: pointer;
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --org: #fd6e0a;
    --ban: #fff8f3;
}
.text-center{
    text-align: center;
}
a {
    text-decoration: none;
}
.logo {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.textR {
    color: var(--org);
}
nav {
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
}
#menuList li,
.btn-hireMe {
    display: inline;
    margin-left:  50px;  
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}
.btn-hireMe a {
    color: white;
}
.btn-hireMe {
    color: white;
    margin-left: -2px;
}
nav > ul {

}
#menuList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-hireMe {
    background-color: var(--org);
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    background: #fd6e0a;
}
.header1 {
    background-image: url("../images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    /* background-color: red; */
    height: 100vh;
    background-color: var(--ban);
}
.Banner {
    background-image: url("../images/developer.png");
    background-position: left;
    background-size: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    height: 100%;
    /* margin-bottom: 100px; */
    
}

.bannerDiv{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 200px; */
    /* background-image: url("../images/header_bg.png"); */
    
}
.banner1 {
    /* width: 49%; */
    margin-left: 200px;
}
.bannerText {
    
}
.bannerText h1{
    color: var(--dark-01, #181818);
    /* font-family: Open Sans; */
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.BannerImg {
    
}
.proImage {
    /* height: 720px; */
    border: 10px solid green;
}
.proImage > img {
    height: 100%;
    width: auto;
}
.titleImg{ 
    height: fit-content;
}
.mainSection {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 200px;
}
